body {
  background: url("./images/raisa-milova-wQPpkgo2jzc-unsplash.jpg");
  opacity: 0.9;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
}

.dataContainer {
  padding: 2rem;
  flex: 4;
}

.listContainer {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  border: 5px solid gray;
  /* background-color: white; */
}

.links {
  flex: 1;
}

.listDisplay {
  flex: 5;
  border: 1px dotted navy;
}
